<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Food Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
<body>

<div class="container">
    <br>
    <ul class="nav nav-pills pull-left">
        <li role="presentation" class="active">
            <a href="{{ url_for('manager') }}">뒤로가기</a>
        </li>
    </ul>
    <div class="page-header">

        <div role="presentation" style="text-align:center">
            <h3>삭제</h3>
        </div>
    </div>

    <ul class="nav nav-pills pull-right">

    </ul>


</div>


</body>
</html>