<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Food Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
<body>
<div class="container">
    <br>
    <ul class="nav nav-pills pull-left">
        <li role="presentation" class="active"><a href="{{ url_for('main') }}">뒤로가기</a></li>
    </ul>
    <div class="page-header" role="presentation" style="text-align:center">
        <h3>관리자모드</h3>
    </div>

    <div class="row">
        <div class="col-lg-8">
            {% if list %}
            <ul>
                {% for product in list %}
                <h3>{{product.num}}. 품명:[{{product.name}}] 가격:[{{product.price}}] 남은 수량:[{{product.amount}}]</h3>
                <br>
                {% endfor %}
            </ul>
            {% else %}
            <p>상품이 없습니다.</p>
            {% endif %}
        </div>
        <div class="col-lg-4">
            <div style="text-align:right">
                <div class="btn-group-vertical" role="group" aria-label="...">
                    <a class="btn btn-info" href="item_add" role="button">아이템 추가</a>
                    <a class="btn btn-light" href="item_edit" role="button">아이템 수정</a>
                    <a class="btn btn-danger" href="item_remove" role="button">아이템 삭제</a>
<!--                    <button type="submit" class="btn btn-info">아이템 추가</button>-->
<!--                    <button type="button" class="btn btn-light">아이템 수정</button>-->
<!--                    <button type="button" class="btn btn-danger">아이템 삭제</button>-->
                </div>
            </div>
        </div>
    </div>


</div>
</body>
</html>